.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.App > h1 {
  line-height: 0px;
  text-align: center;
}
.App > h2 {
  color: silver;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0px;
  text-align: center;
}

.logoscl {
  margin-top: 50px;
}

.logoscl > h4,
.onomacl > h4,
.addrescl > h4 {
  color: darkslategrey;
  line-height: 10px;
}
